<div id="PgEDT" class="Apayer EDT">
  <div class="antsa">
    <!--box date, filiere, heure creuse-->
    <div class="boxviolet">
      <div class="date">
        <div class="nombre">
          <span>jj</span> / <span>mm</span> / <span>aa</span>
        </div>
        <div class="nom">Date</div>
      </div>

      <div class="date">
        <div class="nombre">4</div>
        <div class="nom">Total d'heure creuse</div>
      </div>
    </div>
  </div>
  <!--box1 -->
  <div class="ParentTableau box1">
    <div class="ListRecu edt">
      <div class="ListRecuTete title">
        <h2>Emploi du temps</h2>
        <form action="">
          <input type="date" />
          <input type="submit" value="Recherche" />
        </form>
      </div>
      <div class="hiddenTab">
        <div class="grid">
          <div class="un">HEURES</div>
          <div class="deux">LUNDI</div>
          <div class="trois">MARDI</div>
          <div class="quatre">MERCREDI</div>
          <div class="cinq">JEUDI</div>
          <div class="six">VENDREDI</div>
          <div class="samedi">SAMEDI</div>
          <div class="sept">07h15-09h15</div>
          <div class="huit">Algèbre</div>
          <div class="neuf">MATH Discret</div>
          <div class="onze">Français</div>
          <div class="douze"></div>
          <div class="treize">Probabilité</div>
          <div class="samedi1">IS</div>
          <div class="quartorze">09h15-11h15</div>
          <div class="quinze">SD</div>
          <div class="seize">Base de Données</div>
          <div class="dixsept">Analyse MATH</div>
          <div class="dixhuit">TP Programation</div>
          <div class="dixneuf">Organisation</div>
          <div class="samedi2">MATH FI Fi</div>
          <div class="vinght"></div>
          <div class="vun"></div>
          <div class="vdeux"></div>
          <div class="vtrois"></div>
          <div class="vquatre"></div>
          <div class="vcinq"></div>
          <div class="vsix"></div>
          <div class="vsept"></div>
          <div class="samedi4"></div>
          <div class="vhuit">12h30H-14h15</div>
          <div class="vneuf">Algorithme</div>
          <div class="trente">Comptabilité</div>
          <div class="tun">Français</div>
          <div class="tdeux">TP Programation</div>
          <div class="ttrois">HTML - CSS</div>
          <div class="samedi5"></div>
          <div class="tquatre">14h15-15h30</div>
          <div class="tcinq">Pascal</div>
          <div class="tsix"></div>
          <div class="tsept"></div>
          <div class="thuit">SD</div>
          <div class="tneuf"></div>
          <div class="samedi6"></div>
        </div>
      </div>
    </div>
  </div>
</div>
