<div id="PgProfil" class="profil">
  <div class="profil-content">
    <div class="nom">
      <i class="fas fa-user-circle img"></i>
      <p>BOBO</p>
    </div>
    <div class="info-content">
      <div class="i">
        <div class="in">
          <p>Info Général</p>
        </div>
        <div class="txt">
          <div class="papay">
            <p>Genre: <span>Homme</span></p>

            <p class="p">Adresse: <span>Ampandrana</span></p>

            <p>Numéro Phone: <span>034 00 000 00</span></p>
            <p>Adresse email: <span>userEmail@gmai.com</span></p>
          </div>
        </div>
      </div>
      <div class="i">
        <div class="in">
          <p>Filière et Classe</p>
        </div>
        <div class="txt">
          <div class="papay">
            <p>Filière: <span>IGGL</span></p>
            <p class="p">Classe: <span><%= userdb.classe %></span></p>

            <p>Numéro en Classe: <span>19</span></p>
            <p>Matricule: <span>1111</span></p>
          </div>
        </div>
      </div>
      <div class="i">
        <div class="in">
          <p>Père</p>
        </div>
        <div class="txt">
          <div class="papay">
            <p>Nom : <span>Goliata</span></p>
            <p>Prénom : <span>Mark</span></p>
            <p>Proffesion: <span>undefined</span></p>
            <p class="p">Adresse: <span>Ampandrana</span></p>
          </div>
        </div>
      </div>
      <div class="i final">
        <div class="in">
          <p>Mère</p>
        </div>
        <div class="txt">
          <div class="papay">
            <p>Nom : <span>Perety</span></p>
            <p>Prénom : <span>Kolo</span></p>
            <p>Proffesion: <span>Dev</span></p>
            <p class="p">Adresse: <span>Ampandrana</span></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
