<div id="PGcalender" class="calender">
        <div class="flottantebox">
            <div class="boxKely">
                <div>
                    <div class="chiffreBoxF">Evénements :</div>
                    <div class="nomBoxKely">Lorem ipsum dolor sit amet.</div>
                </div>
            </div>

            <div class="boxKely">
                <div>
                    <div class="chiffreBoxF findann">Fin D'année:</div>
                    <div class="nomBoxKely">Lorem ipsum dolor sit amet.</div>
                </div>
            </div>



        </div>
        <div class="Content">
            <div class="soratra">
                <h2>Calendrier scolaire :</h2>
            </div>
            <div class="sep-calender">
                <h2>
                    janvier
                </h2>


                <ul class="day">
                    <li>dim</li>
                    <li>lun</li>
                    <li>mar</li>
                    <li>mer</li>
                    <li>jeu</li>
                    <li>ven</li>
                    <li>sam</li>
                </ul>
                <ul class="date">
                    <li class="first-day">1</li>
                    <li>2</li>
                    <li>3</li>
                    <li>4</li>
                    <li>5</li>
                    <li>6</li>
                    <li>7</li>
                    <li>8</li>
                    <li>9</li>
                    <li>10</li>
                    <li>11</li>
                    <li>12</li>
                    <li>13</li>
                    <li>14</li>
                    <li>15</li>
                    <li>16</li>
                    <li>17</li>
                    <li>18</li>
                    <li>19</li>
                    <li>20</li>
                    <li>21</li>
                    <li>22</li>
                    <li>23</li>
                    <li>24</li>
                    <li>25</li>
                    <li>26</li>
                    <li>27</li>
                    <li>28</li>
                    <li>29</li>
                    <li>30</li>
                    <li class="last-day">31</li>
                    <li class="Apart"></li>
                    <li class="Apart"></li>
                    <li class="Apart"></li>
                    <li class="Apart"></li>
                </ul>


            </div>
            <div class="sep-calender">
                <h2>
                    fevrier
                </h2>


                <ul class="day">
                    <li>dim</li>
                    <li>lun</li>
                    <li>mar</li>
                    <li>mer</li>
                    <li>jeu</li>
                    <li>ven</li>
                    <li>sam</li>
                </ul>
                <ul class="date">
                    <li class="prev-month"> </li>
                    <li class="Apart"> </li>
                    <li class="Apart"> </li>
                    <li class="first-day">1</li>
                    <li>2</li>
                    <li>3</li>
                    <li>4</li>
                    <li>5</li>
                    <li>6</li>
                    <li>7</li>
                    <li>8</li>
                    <li>9</li>
                    <li>10</li>
                    <li>11</li>
                    <li>12</li>
                    <li>13</li>
                    <li>14</li>
                    <li>15</li>
                    <li>16</li>
                    <li>17</li>
                    <li>18</li>
                    <li>19</li>
                    <li>20</li>
                    <li>21</li>
                    <li>22</li>
                    <li>23</li>
                    <li>24</li>
                    <li>25</li>
                    <li>26</li>
                    <li>27</li>
                    <li>28</li>
                    <li class="last-day">29</li>
                    <li class="Apart"></li>
                    <li class="Apart"></li>
                    <li class="Apart"></li>

                </ul>


            </div>
            <div class="sep-calender">
                <h2>
                    Mars
                </h2>


                <ul class="day">
                    <li>dim</li>
                    <li>lun</li>
                    <li>mar</li>
                    <li>mer</li>
                    <li>jeu</li>
                    <li>ven</li>
                    <li>sam</li>
                </ul>
                <ul class="date">
                    <li class="prev-month Apart"> </li>
                    <li class="Apart"> </li>
                    <li class="Apart"> </li>
                    <li class="first-day">1</li>
                    <li>2</li>
                    <li>3</li>
                    <li>4</li>
                    <li>5</li>
                    <li>6</li>
                    <li>7</li>
                    <li>8</li>
                    <li>9</li>
                    <li>10</li>
                    <li>11</li>
                    <li>12</li>
                    <li>13</li>
                    <li>14</li>
                    <li>15</li>
                    <li>16</li>
                    <li>17</li>
                    <li>18</li>
                    <li>19</li>
                    <li>20</li>
                    <li class=" DaySpec">21</li>
                    <li>22</li>
                    <li>23</li>
                    <li>24</li>
                    <li>25</li>
                    <li>26</li>
                    <li>27</li>
                    <li>28</li>
                    <li>29</li>
                    <li>30</li>
                    <li class="last-day ">31</li>
                    <li class="Apart"></li>
                </ul>


            </div>
            <div class="sep-calender">
                <h2>
                    Avril
                </h2>


                <ul class="day">
                    <li>dim</li>
                    <li>lun</li>
                    <li>mar</li>
                    <li>mer</li>
                    <li>jeu</li>
                    <li>ven</li>
                    <li>sam</li>
                </ul>
                <ul class="date">
                    <li class="prev-month Apart"> </li>
                    <li class="Apart"> </li>
                    <li class="Apart"> </li>
                    <li class="Apart"> </li>
                    <li class="Apart"> </li>
                    <li class="Apart"> </li>
                    <li class="first-day">1</li>
                    <li>2</li>
                    <li>3</li>
                    <li>4</li>
                    <li>5</li>
                    <li>6</li>
                    <li>7</li>
                    <li>8</li>
                    <li>9</li>
                    <li class="DaySpec">10</li>
                    <li>11</li>
                    <li>12</li>
                    <li>13</li>
                    <li>14</li>
                    <li>15</li>
                    <li>16</li>
                    <li>17</li>
                    <li>18</li>
                    <li>19</li>
                    <li>20</li>
                    <li>21</li>
                    <li>22</li>
                    <li>23</li>
                    <li>24</li>
                    <li>25</li>
                    <li>26</li>
                    <li>27</li>
                    <li>28</li>
                    <li>29</li>
                    <li class="last-day">30</li>
                    <li class="Apart"></li>
                    <li class="Apart"></li>
                    <li class="Apart"></li>
                    <li class="Apart"></li>
                    <li class="Apart"></li>
                    <li class="Apart"></li>
                </ul>


            </div>
            <div class="sep-calender">
                <h2>
                    Mai
                </h2>


                <ul class="day">
                    <li>dim</li>
                    <li>lun</li>
                    <li>mar</li>
                    <li>mer</li>
                    <li>jeu</li>
                    <li>ven</li>
                    <li>sam</li>
                </ul>
                <ul class="date">
                    <li class="prev-month Apart"> </li>
                    <li class="first-day DaySpec">1</li>
                    <li>2</li>
                    <li>3</li>
                    <li>4</li>
                    <li>5</li>
                    <li>6</li>
                    <li>7</li>
                    <li>8</li>
                    <li>9</li>
                    <li>10</li>
                    <li>11</li>
                    <li>12</li>
                    <li>13</li>
                    <li>14</li>
                    <li>15</li>
                    <li>16</li>
                    <li>17</li>
                    <li>18</li>
                    <li>19</li>
                    <li>20</li>
                    <li>21</li>
                    <li>22</li>
                    <li>23</li>
                    <li>24</li>
                    <li>25</li>
                    <li>26</li>
                    <li>27</li>
                    <li>28</li>
                    <li>29</li>
                    <li class="last-day">30</li>
                    <li class="Apart"></li>
                    <li class="Apart"></li>
                    <li class="Apart"></li>
                </ul>


            </div>
            <div class="sep-calender">
                <h2>
                    Juin
                </h2>


                <ul class="day">
                    <li>dim</li>
                    <li>lun</li>
                    <li>mar</li>
                    <li>mer</li>
                    <li>jeu</li>
                    <li>ven</li>
                    <li>sam</li>
                </ul>
                <ul class="date">
                    <li class="prev-month"> </li>
                    <li class="Apart"> </li>
                    <li class="Apart"> </li>
                    <li class="Apart"> </li>
                    <li class="first-day">1</li>
                    <li>2</li>
                    <li>3</li>
                    <li>4</li>
                    <li>5</li>
                    <li>6</li>
                    <li>7</li>
                    <li>8</li>
                    <li>9</li>
                    <li>10</li>
                    <li>11</li>
                    <li>12</li>
                    <li>13</li>
                    <li>14</li>
                    <li>15</li>
                    <li>16</li>
                    <li>17</li>
                    <li>18</li>
                    <li>19</li>
                    <li>20</li>
                    <li>21</li>
                    <li>22</li>
                    <li>23</li>
                    <li>24</li>
                    <li>25</li>
                    <li class=" DaySpec">26</li>
                    <li>27</li>
                    <li>28</li>
                    <li>29</li>
                    <li class="last-day">30</li>
                    <li class="Apart"></li>
                </ul>


            </div>
            <div class="sep-calender">
                <h2>
                    Juillet
                </h2>


                <ul class="day">
                    <li>dim</li>
                    <li>lun</li>
                    <li>mar</li>
                    <li>mer</li>
                    <li>jeu</li>
                    <li>ven</li>
                    <li>sam</li>
                </ul>
                <ul class="date">
                    <li class="prev-month Apart"> </li>
                    <li class="Apart"> </li>
                    <li class="Apart"> </li>
                    <li class="Apart"> </li>
                    <li class="Apart"> </li>
                    <li class="Apart"> </li>
                    <li class="first-day">1</li>
                    <li>2</li>
                    <li>3</li>
                    <li>4</li>
                    <li>5</li>
                    <li>6</li>
                    <li>7</li>
                    <li>8</li>
                    <li>9</li>
                    <li>10</li>
                    <li>11</li>
                    <li>12</li>
                    <li>13</li>
                    <li>14</li>
                    <li>15</li>
                    <li>16</li>
                    <li>17</li>
                    <li>18</li>
                    <li>19</li>
                    <li>20</li>
                    <li>21</li>
                    <li>22</li>
                    <li>23</li>
                    <li>24</li>
                    <li>25</li>
                    <li>26</li>
                    <li>27</li>
                    <li>28</li>
                    <li>29</li>
                    <li>30</li>
                    <li class="last-day">31</li>
                    <li class="Apart"></li>
                    <li class="Apart"></li>
                    <li class="Apart"></li>
                    <li class="Apart"></li>
                    <li class="Apart"></li>
                </ul>


            </div>
            <div class="sep-calender">
                <h2>
                    Aout
                </h2>


                <ul class="day">
                    <li>dim</li>
                    <li>lun</li>
                    <li>mar</li>
                    <li>mer</li>
                    <li>jeu</li>
                    <li>ven</li>
                    <li>sam</li>
                </ul>
                <ul class="date">
                    <li class="prev-month Apart"> </li>
                    <li class="Apart"> </li>
                    <li class="first-day">1</li>
                    <li>2</li>
                    <li>3</li>
                    <li>4</li>
                    <li>5</li>
                    <li>6</li>
                    <li>7</li>
                    <li>8</li>
                    <li>9</li>
                    <li>10</li>
                    <li>11</li>
                    <li>12</li>
                    <li>13</li>
                    <li>14</li>
                    <li>15</li>
                    <li>16</li>
                    <li>17</li>
                    <li>18</li>
                    <li>19</li>
                    <li>20</li>
                    <li>21</li>
                    <li>22</li>
                    <li>23</li>
                    <li>24</li>
                    <li>25</li>
                    <li>26</li>
                    <li>27</li>
                    <li>28</li>
                    <li>29</li>
                    <li>30</li>
                    <li class="last-day">31</li>
                    <li class="Apart"></li>
                    <li class="Apart"></li>
                </ul>


            </div>
            <div class="sep-calender">
                <h2>
                    septembre
                </h2>


                <ul class="day">
                    <li>dim</li>
                    <li>lun</li>
                    <li>mar</li>
                    <li>mer</li>
                    <li>jeu</li>
                    <li>ven</li>
                    <li>sam</li>
                </ul>
                <ul class="date">
                    <li class="prev-month Apart"> </li>
                    <li class="Apart"> </li>
                    <li class="Apart"> </li>
                    <li class="Apart"> </li>
                    <li class="Apart"> </li>
                    <li class="first-day">1</li>
                    <li>2</li>
                    <li>3</li>
                    <li>4</li>
                    <li>5</li>
                    <li>6</li>
                    <li>7</li>
                    <li>8</li>
                    <li>9</li>
                    <li>10</li>
                    <li>11</li>
                    <li>12</li>
                    <li>13</li>
                    <li>14</li>
                    <li>15</li>
                    <li>16</li>
                    <li>17</li>
                    <li>18</li>
                    <li>19</li>
                    <li>20</li>
                    <li>21</li>
                    <li>22</li>
                    <li>23</li>
                    <li>24</li>
                    <li>25</li>
                    <li>26</li>
                    <li>27</li>
                    <li>28</li>
                    <li>29</li>
                    <li>30</li>
                    <li class="last-day">31</li>
                </ul>


            </div>
            <div class="sep-calender">
                <h2>
                    octobre
                </h2>


                <ul class="day">
                    <li>dim</li>
                    <li>lun</li>
                    <li>mar</li>
                    <li>mer</li>
                    <li>jeu</li>
                    <li>ven</li>
                    <li>sam</li>
                </ul>
                <ul class="date">
                    <li class="first-day">1</li>
                    <li>2</li>
                    <li>3</li>
                    <li>4</li>
                    <li>5</li>
                    <li>6</li>
                    <li>7</li>
                    <li>8</li>
                    <li>9</li>
                    <li>10</li>
                    <li>11</li>
                    <li>12</li>
                    <li>13</li>
                    <li>14</li>
                    <li>15</li>
                    <li>16</li>
                    <li>17</li>
                    <li>18</li>
                    <li>19</li>
                    <li>20</li>
                    <li>21</li>
                    <li>22</li>
                    <li>23</li>
                    <li>24</li>
                    <li>25</li>
                    <li>26</li>
                    <li>27</li>
                    <li>28</li>
                    <li>29</li>
                    <li>30</li>
                    <li class="last-day">31</li>
                    <li class="Apart"></li>
                    <li class="Apart"></li>
                    <li class="Apart"></li>
                    <li class="Apart"></li>
                </ul>


            </div>
            <div class="sep-calender">
                <h2>
                    Novembre
                </h2>


                <ul class="day">
                    <li>dim</li>
                    <li>lun</li>
                    <li>mar</li>
                    <li>mer</li>
                    <li>jeu</li>
                    <li>ven</li>
                    <li>sam</li>
                </ul>
                <ul class="date">
                    <li class="prev-month Apart"> </li>
                    <li class="Apart"> </li>
                    <li class="Apart"> </li>
                    <li class="first-day">1</li>
                    <li>2</li>
                    <li>3</li>
                    <li>4</li>
                    <li>5</li>
                    <li>6</li>
                    <li>7</li>
                    <li>8</li>
                    <li>9</li>
                    <li>10</li>
                    <li>11</li>
                    <li>12</li>
                    <li>13</li>
                    <li>14</li>
                    <li>15</li>
                    <li>16</li>
                    <li>17</li>
                    <li>18</li>
                    <li>19</li>
                    <li>20</li>
                    <li>21</li>
                    <li>22</li>
                    <li>23</li>
                    <li>24</li>
                    <li>25</li>
                    <li>26</li>
                    <li>27</li>
                    <li>28</li>
                    <li>29</li>
                    <li class="last-day">30</li>
                    <li class="Apart"></li>
                    <li class="Apart"></li>
                </ul>


            </div>
            <div class="sep-calender">
                <h2>
                    Decembre
                </h2>


                <ul class="day">
                    <li>dim</li>
                    <li>lun</li>
                    <li>mar</li>
                    <li>mer</li>
                    <li>jeu</li>
                    <li>ven</li>
                    <li>sam</li>
                </ul>
                <ul class="date">
                    <li class="prev-month Apart"> </li>
                    <li class="Apart"> </li>
                    <li class="Apart"> </li>
                    <li class="Apart"> </li>
                    <li class="Apart"> </li>
                    <li class="first-day"></li>
                    <li>2</li>
                    <li>3</li>
                    <li>4</li>
                    <li>5</li>
                    <li>6</li>
                    <li>7</li>
                    <li>8</li>
                    <li>9</li>
                    <li>10</li>
                    <li>11</li>
                    <li>12</li>
                    <li>13</li>
                    <li>14</li>
                    <li>15</li>
                    <li>16</li>
                    <li>17</li>
                    <li>18</li>
                    <li>19</li>
                    <li>20</li>
                    <li>21</li>
                    <li>22</li>
                    <li>23</li>
                    <li>24</li>
                    <li>25</li>
                    <li>26</li>
                    <li>27</li>
                    <li>28</li>
                    <li>29</li>
                    <li>30</li>
                    <li class="last-day">31</li>
                    <li class="Apart"></li>
                    <li class="Apart"></li>
                    <li class="Apart"></li>
                    <li class="Apart"></li>
                    <li class="Apart"></li>
                    <li class="Apart"></li>

                </ul>


            </div>
        </div>

    </div>