<!--annonce 1 plus récent, 2 hier ohatra de lay 3 farany plus ancien fa miandry javascript anaovana azy-->
<!-- <% for(var i = 0; i < userAnnonce.length; i++ ){ %> -->
<div class="ann-rec">
  <legend><strong>23/06/2023</strong></legend>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus quas
    molestias in omnis autem voluptatibus esse, aliquam libero officiis ratione
    soluta quod? Harum, alias beatae deserunt eum obcaecati rem velit.</p>
  <div class="cont">
    <i id="img1" class="fas fa-scroll mitah"></i>
    <p><strong>Info Génér</strong></p>
  </div>
</div>
<!-- <% } %> -->
