<div id="PgNote" class="Apayer note">
        <div class="flottantebox">
            <div class="boxKely ">
                <div>
                    <div class="chiffreBoxF assez_bien">173,05/300</div>
                    <div class="nomBoxKely">Total des notes</div>
                </div>

                <div class="iconBoxFlottante">
                    <i class="far fa-file-alt"></i>
                </div>
            </div>

            <div class="boxKely">
                <div>
                    <div class="chiffreBoxF assez_bien">11,53/20</div>
                    <div class="nomBoxKely">Moyenne</div>
                </div>

                <div class="iconBoxFlottante">
                    <i class="fas fa-chart-line"></i>
                </div>
            </div>

            <div class="boxKely">
                <div>
                    <div class="chiffreBoxF passableColor ">34<span class="eme">è</span></div>
                    <div class="nomBoxKely">Rang</div>
                </div>

                <div class="iconBoxFlottante">
                    <i class="fas fa-info"></i>
                </div>
            </div>

        </div>

        <div class="ParentTableau noteParent">
            <div class="ListRecu">
                <div class="ListRecuTete">
                    <h2>Fiche de notes</h2>
                    <form action="" id="FormDateNote">
                        <input type="date" name="date">
                        <input type="submit" value="Recherche">
                    </form>
                </div>

                <div class="hiddenTab">
                    <table>
                        <thead>
                            <tr>
                                <td>Matières</td>
                                <td>Coefficient</td>
                                <td>Notes</td>
                                <td>Remarques</td>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td>Comptabilité</td>
                                <td>3</td>
                                <td>19</td>
                                <td><span class="status honorable">Honorable</span></td>
                            </tr>
                            <tr>
                                <td>Organisation de l'entreprise</td>
                                <td>3</td>
                                <td>12</td>
                                <td><span class="status assez_bien">Assez-bien</span></td>
                            </tr>
                            <tr>
                                <td>Mathématique Financière</td>
                                <td>3</td>
                                <td>14,75</td>
                                <td><span class="status bien">Bien</span></td>
                            </tr>
                            <tr>
                                <td>Structure de données</td>
                                <td>3</td>
                                <td>15</td>
                                <td><span class="status bien">Bien</span></td>
                            </tr>
                            <tr>
                                <td>Base de données</td>
                                <td>3</td>
                                <td>4</td>
                                <td><span class="status insuffisant">Insuffisant</span></td>
                            </tr>
                            <tr>
                                <td>Algorithme et programmation</td>
                                <td>3</td>
                                <td>8</td>
                                <td><span class="status passable">Passable</span></td>
                            </tr>
                            <tr>
                                <td>Informatique Scientifique</td>
                                <td>3</td>
                                <td>19</td>
                                <td><span class="status honorable">Honorable</span></td>
                            </tr>
                            <tr>
                                <td>Algèbre Linéaire</td>
                                <td>3</td>
                                <td>1</td>
                                <td><span class="status insuffisant">Insuffisant</span></td>
                            </tr>

                            <tr>
                                <td>Probabilité</td>
                                <td>3</td>
                                <td>1,25</td>
                                <td><span class="status insuffisant">Insuffisant</span></td>
                            </tr>

                            <tr>
                                <td>Analyse Mathématique</td>
                                <td>3</td>
                                <td>5,25</td>
                                <td><span class="status insuffisant">Insuffisant</span></td>
                            </tr>

                            <tr>
                                <td>Mathématique Discrète</td>
                                <td>3</td>
                                <td>16,05</td>
                                <td><span class="status bien">Très bien</span></td>
                            </tr>

                            <tr>
                                <td>Pascal</td>
                                <td>4</td>
                                <td>20</td>
                                <td><span class="status honorable">Honorable</span></td>
                            </tr>
                            <tr>
                                <td>HTML&CSS</td>
                                <td>4</td>
                                <td>17</td>
                                <td><span class="status bien">Très bien</span></td>
                            </tr>
                            <tr>
                                <td>Français</td>
                                <td>3</td>
                                <td>7,75</td>
                                <td><span class="status insuffisant">Insuffisant</span></td>
                            </tr>
                            <tr>
                                <td>Dictée</td>
                                <td>3</td>
                                <td>13</td>
                                <td><span class="status assez_bien">Assez-bien</span></td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>


        </div>
    </div>