<div id="PgNotif" class="notif">
  <div class="a">
    <div class="imgNom">
      <h2>Notifications</h2>
    </div>
  </div>

  <!--annonce 1 plus récent, 2 hier ohatra de lay 3 farany plus ancien fa miandry javascript anaovana azy-->

  <div class="ann-rec">
    <legend><strong>12/06/2023</strong></legend>
    <p>Lorem ipsum dolor sit amet.</p>
  </div>
</div>
