<div id="AnnonceAcc" class="boxKely bgAnnonce">
  <div class="flexcontent">
    <div class="chiffreBoxF Cpt">3</div>
    <div class="chiffreBoxF">Annonces</div>
  </div>
  <div class="iconBoxFlottante">
    <i class="fas fa-bullhorn iconAccRglg"></i>
  </div>
</div>

<div id="EDTAcc" class="boxKely bgEDT">
  <div class="flexcontent">
    <div class="chiffreBoxF Cpt">1</div>
    <div class="chiffreBoxF">EDT</div>
  </div>
  <div class="iconBoxFlottante">
    <i class="far fa-calendar iconAccRglg"></i>
  </div>
</div>
<div id="AbsenceAcc" class="boxKely bgAbsence">
  <div class="flexcontent">
    <div class="chiffreBoxF Cpt">5</div>
    <div class="chiffreBoxF">Absences</div>
  </div>
  <div class="iconBoxFlottante">
    <i class="fas fa-hourglass-end iconAccRglg"></i>
  </div>
</div>
<div id="ApayerAcc" class="boxKely bgAnnonce">
  <div class="flexcontent">
    <div class="chiffreBoxF Cpt">2</div>
    <div class="chiffreBoxF">À Payer</div>
  </div>
  <div class="iconBoxFlottante">
    <i class="far fa-credit-card iconAccRglg"></i>
  </div>
</div>
<div id="NoteAcc" class="boxKely bgProfil">
  <div class="flexcontent">
    <div class="chiffreBoxF Cpt">6</div>
    <div class="chiffreBoxF">Notes</div>
  </div>
  <div class="iconBoxFlottante">
    <i class="far fa-file-alt iconAccRglg"></i>
  </div>
</div>
<div id="CalendrierAcc" class="boxKely bgAbsence">
  <div class="flexcontent">
    <div class="chiffreBoxF Cpt">2</div>
    <div class="chiffreBoxF">Calendrier</div>
  </div>
  <div class="iconBoxFlottante">
    <i class="far fa-calendar-alt iconAccRglg"></i>
  </div>
</div>
<a href="" class="logOutAcc">
  <div class="boxKely bgProfil">
    <div class="flexcontent">
      <div class="chiffreBoxF Cpt"></div>
      <div class="chiffreBoxF">Se Deconnecter</div>
    </div>
    <div class="iconBoxFlottante">
      <i class="fas fa-sign-out-alt iconAccRglg"></i>
    </div>
  </div>
</a>
