<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <!---<title> Responsive Registration Form | CodingLab </title>--->
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Pupil.Finder</title>
     <link rel="stylesheet" href="/public/css/addUser.css">
     <link rel="shortcut icon" href="/public/imgs/ICON-01.svg" type="image/x-icon">
   </head>
<body>
  <div class="container">
    <div class="title">Registration</div>
    <div class="content">
      <form action="/auth/add-user" method="POST">
        <div class="user-details">
          <div class="input-box">
            <span class="details">Nom</span>
            <input type="text" placeholder="Entrer votre nom" name="Nom" required>
            <small></small>
          </div>
          <div class="input-box">
            <span class="details">Prenom</span>
            <input type="text" placeholder="Entrer votre prenom" name="Prenom" required>
            <small></small>
          </div>
          <div class="input-box">
            <span class="details">Date de naissance</span>
            <input type="date" placeholder="Entrer votre prenom" name="dateNaissance" required>
            <small></small>
          </div>
          <div class="input-box">
            <span class="details">Adresse</span>
            <input type="text" placeholder="Enter your Adresse" name="AdresseEleve" required>
          </div>
          <div class="input-box">
            <span class="details">Numero de telephone</span>
            <input type="text" placeholder="Enter your number" name="Numero" required>
          </div>
          <div class="input-box">
            <!-- OVAINA SELECT -->
            <span class="details">Classe</span>
            <input type="text" placeholder="Entrer votre Classe" name="Classe" required>
            <small></small>
          </div>
          <div class="input-box">
            <span class="details">Adresse Email</span>
            <input type="text" placeholder="Entrer votre Adresse Email"name="Email" required>
          </div>
          <div class="input-box">
            <span class="details">Mot de passe</span>
            <input type="text" placeholder="Entrer votre mot de passe"name="MotDePasse" required>
            <small></small>
          </div>
          <div class="input-box">
            <span class="details">Nom du Pere </span>
            <input type="text" placeholder="Nom" name="nomPere" required>
          </div>
          <div class="input-box">
                <span class="details">Profession du Pere</span>
                <input type="text" placeholder="Profession" name="ProfessionPere" required> 
                <small></small>
          </div>
          <div class="input-box">
            <span class="details">Adresse du Pere </span>
            <input type="text" placeholder="Profession" name="AdressePere" required> 
            <small></small>
        </div>
        <div class="input-box">
            <span class="details">Numero du Pere </span>
            <input type="text" placeholder="Numero" name="NumeroPere" required> 
            <small></small>
        </div>
        <div class="input-box">
            <span class="details">Nom de la Mere </span>
            <input type="text" placeholder="Nom" name="NomMere" required>
            <small></small>
          </div>
          <div class="input-box">
                <span class="details">Profession de la Mere </span>
                <input type="text" placeholder="Profession" name="ProfessionMere" required> 
                <small></small>
          </div>
          <div class="input-box">
            <span class="details">Adresse de la Mere </span>
            <input type="text" placeholder="Profession" name="AdresseMere" required> 
            <small></small>
        </div>
        <div class="input-box">
            <span class="details">Numero de la Mere</span>
            <input type="text" placeholder="Numero" name="NumeroMere" required> 
            <small></small>
        </div>
        </div>
        <div class="gender-details">
          <input type="radio" name="gender" id="dot-1" value="Homme">
          <input type="radio" name="gender" id="dot-2" value="Femme">
          <span class="gender-title">Genre</span>
          <div class="category">
            <label for="dot-1">
            <span class="dot one"></span>
            <span class="gender">Homme</span>
          </label>
          <label for="dot-2">
            <span class="dot two"></span>
            <span class="gender">Femme</span>
          </label>
          <!-- <label for="dot-3">
            <span class="dot three"></span>
            <span class="gender">Prefer not to say</span>
            </label>
          </div> -->
        </div>
        <div class="button">
          <input type="submit" value="Register">
        </div>
      </form>
    </div>
  </div>
</body>
</html>