.EDT{
    width: 100%;
    display: none;
}

.EDT .antsa{
    width: 100% !important;
}
.boxviolet{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: relative;
    width: 100%;
    padding: 20px;
    grid-gap: 30px;
  }
  .boxviolet .date {
    position: relative;
    background: var(--white);
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    cursor: pointer;
  }
  
  .boxviolet .date .nombre{
    position: relative;
    font-weight: 500;
    font-size: 2rem;
    color: var(--violet);
  }
  .antsa .boxviolet .date .nombre span{
    color: var(--violet);
  }
  .boxviolet .date .nom{
    color: var(--blackkely);
    font-size: 1.1rem;
    margin-top: 5px;
  }
  .boxviolet .date:hover {
    background: var(--violet);
  }
  .boxviolet .date:hover .nombre,
  .boxviolet .date:hover .nom,
  .boxviolet .date:hover .iconBx,
  .boxviolet .date:hover .nombre span{
    color: var(--white);
  }


.box1{
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: 2fr ;
    grid-gap: 30px;
}
.edt {

    position: relative;
    display: grid;
    /* min-height: 500px; */
    background: var(--white);
    padding: 20px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
    overflow: inherit;
    width: 100%;

}
.EDT .box1 .edt .hiddenTab{
    width: 100%;
    overflow-x: auto;
}


.edt .title h2{
    margin-bottom: 40px;
    color: var(--violet);
}

.box1 .edt .grid{
    display: grid;
   
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 15px;
   
}
.edt .un{
    width: 200px;
    display: flex;
    /* background: #fff; */
    background: rgba(206, 206, 206, 0.849);
    justify-content: center;
    grid-column-start: 1;
    grid-row-start: 1;
    align-items: center;
    border-radius: 10px;
    box-shadow: 10px 0 25px 0 rgba(0, 0, 0, 0.11);
}
.edt .deux{display: flex;
    background: var(--violet);
    justify-content: center;
    grid-column-start: 2;
    grid-row-start: 1;
    align-items: center;
    color: white;
    border-radius: 10px;
    /* box-shadow: 10px 0 25px 0 rgba(0, 0, 0, 0.164); */
    box-shadow: 10px 0 25px 0 rgba(0, 0, 0, 0.11);
}
.edt .trois{
    display: flex;
    background: var(--violet);
    justify-content: center;
    grid-column-start: 3;
    grid-row-start: 1;
    color: white;
      align-items: center;
    border-radius: 10px;
    /* box-shadow: 10px 0 25px 0 rgba(0, 0, 0, 0.164); */
}
.edt .quatre{
    display: flex;
    background:var(--violet);
    justify-content: center;
    grid-column-start: 4;
    grid-row-start: 1;
    color: white;
    padding: 10%;
      align-items: center;
    border-radius: 10px;
    /* box-shadow: 10px 0 25px 0 rgba(0, 0, 0, 0.164); */
    box-shadow: 10px 0 25px 0 rgba(0, 0, 0, 0.11);
}
.edt .cinq{
    display: flex;
    background: var(--violet);
    justify-content: center;
    grid-column-start: 5;
    color: white;
    grid-row-start: 1;
    padding: 10%;
     align-items: center;
    border-radius: 10px;
    /* box-shadow: 10px 0 25px 0 rgba(0, 0, 0, 0.164); */
    box-shadow: 10px 0 25px 0 rgba(0, 0, 0, 0.11);
}
.edt .six{
    display: flex;
    background: var(--violet);
    justify-content: center;
    grid-column-start: 6;
    grid-row-start: 1;
     align-items: center;
    color: white;
    border-radius: 10px;
    /* box-shadow: 10px 0 25px 0 rgba(0, 0, 0, 0.164); */
    box-shadow: 10px 0 25px 0 rgba(0, 0, 0, 0.11);
}
.edt .samedi{
    display: flex;
    background: var(--violet);
    justify-content: center;
    grid-column-start: 7;
    grid-row-start: 1;
     align-items: center;
    color: white;
    border-radius: 10px;
    /* box-shadow: 10px 0 25px 0 rgba(0, 0, 0, 0.164); */
    box-shadow: 10px 0 25px 0 rgba(0, 0, 0, 0.11);
}
.edt .sept{
    display: flex;
    background: rgba(206, 206, 206, 0.849);
    justify-content: center;
    grid-column-start: 1;
    grid-row-start: 2;
    padding: 10%;
    align-items: center;
    border-radius: 10px;
    /* box-shadow: 10px 0 25px 0 rgba(0, 0, 0, 0.164); */
    box-shadow: 10px 0 25px 0 rgba(0, 0, 0, 0.11);
}
.edt .huit{
    display: flex;
    background: #fff;
    text-transform: uppercase;
    justify-content: center;
    grid-column-start: 2;
    grid-row-start: 2;
     align-items: center;
    border-radius: 10px;
    /* box-shadow: 10px 0 25px 0 rgba(0, 0, 0, 0.164); */
    box-shadow: 10px 0 25px 0 rgba(0, 0, 0, 0.11);
}
.edt .neuf{
    display: flex;
    background: #fff;
    justify-content: center;
    text-transform: uppercase;
    grid-column-start: 3;
    grid-row-start: 2;
      align-items: center;
    border-radius: 10px;
    /* box-shadow: 10px 0 25px 0 rgba(0, 0, 0, 0.164); */
    box-shadow: 10px 0 25px 0 rgba(0, 0, 0, 0.11);
}
.edt .onze{
    display: flex;
    background: #fff;
    justify-content: center;
    grid-column-start: 4;
    text-transform: uppercase;
    grid-row-start: 2;
      align-items: center;
    border-radius: 10px;
    /* box-shadow: 10px 0 25px 0 rgba(0, 0, 0, 0.164); */
    box-shadow: 10px 0 25px 0 rgba(0, 0, 0, 0.11);
}
.edt .douze{
    display: flex;
    background: #fff;
    justify-content: center;
    text-transform: uppercase;
    grid-column-start: 5;
    grid-row-start: 2;
     align-items: center;
    border-radius: 10px;
    /* box-shadow: 10px 0 25px 0 rgba(0, 0, 0, 0.164); */
    box-shadow: 10px 0 25px 0 rgba(0, 0, 0, 0.11);
}
.edt .treize{
    display: flex;
    background: #fff;
    justify-content: center;
    text-transform: uppercase;
    grid-column-start: 6;
    grid-row-start: 2;
    align-items: center;
    border-radius: 10px;
    /* box-shadow: 10px 0 25px 0 rgba(0, 0, 0, 0.164); */
    box-shadow: 10px 0 25px 0 rgba(0, 0, 0, 0.11);
}
.edt .samedi1{
    display: flex;
    background: #fff;
    justify-content: center;
    text-transform: uppercase;
    grid-column-start: 7;
    grid-row-start: 2;
    align-items: center;
    border-radius: 10px;
    /* box-shadow: 10px 0 25px 0 rgba(0, 0, 0, 0.164); */
    box-shadow: 10px 0 25px 0 rgba(0, 0, 0, 0.11);
}
.edt .quartorze{
    padding: 10%;
    display: flex;
    /* background:  var(--blackkely); */
    background: rgba(206, 206, 206, 0.849);
    justify-content: center;
    grid-column-start: 1;
    grid-row-start: 3;
    align-items: center;
    border-radius: 10px;
    /* box-shadow: 10px 0 25px 0 rgba(0, 0, 0, 0.164); */
    box-shadow: 10px 0 25px 0 rgba(0, 0, 0, 0.11);
}
.edt .quinze{
    display: flex;
    background: #fff;
    justify-content: center;
    text-transform: uppercase;
    grid-column-start: 2;
    grid-row-start: 3;
    align-items: center;
    border-radius: 10px;
    /* box-shadow: 10px 0 25px 0 rgba(0, 0, 0, 0.164); */
    box-shadow: 10px 0 25px 0 rgba(0, 0, 0, 0.11);
}.edt .seize{
    display: flex;
    background: #fff;
    justify-content: center;
    text-transform: uppercase;
    grid-column-start: 3;
    grid-row-start: 3;
    align-items: center;
    border-radius: 10px;
    /* box-shadow: 10px 0 25px 0 rgba(0, 0, 0, 0.164); */
    box-shadow: 10px 0 25px 0 rgba(0, 0, 0, 0.11);
}
.edt .dixsept{
    display: flex;
    background: #fff;
    justify-content: center;
    text-transform: uppercase;
    grid-column-start: 4;
    grid-row-start: 3;
    align-items: center;
    border-radius: 10px;
    /* box-shadow: 10px 0 25px 0 rgba(0, 0, 0, 0.164); */
    box-shadow: 10px 0 25px 0 rgba(0, 0, 0, 0.11);
}
.edt .dixhuit{
    display: flex;
    background: #fff;
    justify-content: center;
    text-transform: uppercase;
    grid-column-start: 5;
    grid-row-start: 3;
    align-items: center;
    border-radius: 10px;
    /* box-shadow: 10px 0 25px 0 rgba(0, 0, 0, 0.164); */
    box-shadow: 10px 0 25px 0 rgba(0, 0, 0, 0.11);
}
.edt .dixneuf{
    display: flex;
    background: #fff;
    justify-content: center;
    text-transform: uppercase;
    grid-column-start: 6;
    grid-row-start: 3;
    align-items: center;
    border-radius: 10px;
    /* box-shadow: 10px 0 25px 0 rgba(0, 0, 0, 0.164); */
    box-shadow: 10px 0 25px 0 rgba(0, 0, 0, 0.11);
}
.edt .samedi2{
    display: flex;
    background: #fff;
    justify-content: center;
    grid-column-start: 7;
    text-transform: uppercase;
    grid-row-start: 3;
    align-items: center;
    border-radius: 10px;
    /* box-shadow: 10px 0 25px 0 rgba(0, 0, 0, 0.164); */
    box-shadow: 10px 0 25px 0 rgba(0, 0, 0, 0.11);
}
.edt .vinght{
    display: flex;
    background: var(--blackkely);
    justify-content: center;
    grid-column-start: 1;
    grid-row-start: 4;
    align-items: center;
    border-radius: 10px;
    /* box-shadow: 10px 0 25px 0 rgba(0, 0, 0, 0.164); */
    box-shadow: 10px 0 25px 0 rgba(0, 0, 0, 0.11);
}
.edt .vun{
    display: flex;
    background: #fff;
    justify-content: center;
    text-transform: uppercase;
    grid-column-start: 2;
    grid-row-start: 4;
    align-items: center;
    border-radius: 10px;
    /* box-shadow: 10px 0 25px 0 rgba(0, 0, 0, 0.164); */
    box-shadow: 10px 0 25px 0 rgba(0, 0, 0, 0.11);
}
.edt .vdeux{
    display: flex;
    background: #fff;
    justify-content: center;
    text-transform: uppercase;
    grid-column-start: 3;
    grid-row-start: 4;
    align-items: center;
    border-radius: 10px;
    /* box-shadow: 10px 0 25px 0 rgba(0, 0, 0, 0.164); */
    box-shadow: 10px 0 25px 0 rgba(0, 0, 0, 0.11);
}
.edt .vtrois{
    display: flex;
    background: #fff;
    justify-content: center;
    text-transform: uppercase;
    grid-column-start: 4;
    grid-row-start: 4;
    align-items: center;
    border-radius: 10px;
    /* box-shadow: 10px 0 25px 0 rgba(0, 0, 0, 0.164); */
    box-shadow: 10px 0 25px 0 rgba(0, 0, 0, 0.11);
}
.edt .vquatre{
    display: flex;
    background: #fff;
    justify-content: center;
    text-transform: uppercase;
    grid-column-start: 5;
    grid-row-start: 4;
    align-items: center;
    border-radius: 10px;
    /* box-shadow: 10px 0 25px 0 rgba(0, 0, 0, 0.164); */
    box-shadow: 10px 0 25px 0 rgba(0, 0, 0, 0.11);
}
.edt .vcinq{
    display: flex;
    background: #fff;
    justify-content: center;
    text-transform: uppercase;
    grid-column-start: 5;
    grid-row-start: 4;
    align-items: center;
    border-radius: 10px;
    /* box-shadow: 10px 0 25px 0 rgba(0, 0, 0, 0.164); */
    box-shadow: 10px 0 25px 0 rgba(0, 0, 0, 0.11);
}
.edt .vsix{
    display: flex;
    background: #fff;
    justify-content: center;
    text-transform: uppercase;
    grid-column-start: 5;
    grid-row-start: 4;
    align-items: center;
    border-radius: 10px;
    /* box-shadow: 10px 0 25px 0 rgba(0, 0, 0, 0.164);
     */
     box-shadow: 10px 0 25px 0 rgba(0, 0, 0, 0.11);
}
.edt .vsept{
    display: flex;
    background: #fff;
    justify-content: center;
    text-transform: uppercase;
    grid-column-start: 6;
    grid-row-start: 4;
    align-items: center;
    border-radius: 10px;
    /* box-shadow: 10px 0 25px 0 rgba(0, 0, 0, 0.164); */
    box-shadow: 10px 0 25px 0 rgba(0, 0, 0, 0.11);
}
.edt .samedi4{
    display: flex;
    background: #fff;
    justify-content: center;
    text-transform: uppercase;
    grid-column-start: 7;
    grid-row-start: 4;
    align-items: center;
    border-radius: 10px;
    /* box-shadow: 10px 0 25px 0 rgba(0, 0, 0, 0.164); */
    box-shadow: 10px 0 25px 0 rgba(0, 0, 0, 0.11);
}
.edt .vhuit{
    padding: 10%;
    display: flex;
    /* background:  var(--blackkely); */
    background: rgba(206, 206, 206, 0.849);
    justify-content: center;
    grid-column-start: 1;
    grid-row-start: 5;
    align-items: center;
    border-radius: 10px;
    /* box-shadow: 10px 0 25px 0 rgba(0, 0, 0, 0.164); */
    box-shadow: 10px 0 25px 0 rgba(0, 0, 0, 0.11);
}
.edt .vneuf{
    display: flex;
    background: #fff;
    justify-content: center;
    text-transform: uppercase;
    grid-column-start: 2;
    grid-row-start: 5;
    align-items: center;
    border-radius: 10px;
    /* box-shadow: 10px 0 25px 0 rgba(0, 0, 0, 0.164); */
    box-shadow: 10px 0 25px 0 rgba(0, 0, 0, 0.11);
}
.edt .trente{
    display: flex;
    background: #fff;
    justify-content: center;
    text-transform: uppercase;
    grid-column-start: 3;
    grid-row-start: 5;
    align-items: center;
    border-radius: 10px;
    /* box-shadow: 10px 0 25px 0 rgba(0, 0, 0, 0.164); */
    box-shadow: 10px 0 25px 0 rgba(0, 0, 0, 0.11);
}
.edt .tun{
    display: flex;
    background: #fff;
    justify-content: center;
    text-transform: uppercase;
    grid-column-start: 4;
    grid-row-start: 5;
    align-items: center;
    border-radius: 10px;
    /* box-shadow: 10px 0 25px 0 rgba(0, 0, 0, 0.164); */
    box-shadow: 10px 0 25px 0 rgba(0, 0, 0, 0.11);
}
.edt .tdeux{
    display: flex;
    background: #fff;
    justify-content: center;
    grid-column-start: 5;
    text-transform: uppercase;
    grid-row-start: 5;
    align-items: center;
    border-radius: 10px;
    /* box-shadow: 10px 0 25px 0 rgba(0, 0, 0, 0.164); */
    box-shadow: 10px 0 25px 0 rgba(0, 0, 0, 0.11);
}
.edt .ttrois{
    display: flex;
    background: #fff;
    justify-content: center;
    text-transform: uppercase;
    grid-column-start: 6;
    grid-row-start: 5;
    align-items: center;
    border-radius: 10px;
    /* box-shadow: 10px 0 25px 0 rgba(0, 0, 0, 0.164); */
    box-shadow: 10px 0 25px 0 rgba(0, 0, 0, 0.11);
}
.edt .samedi5{
    display: flex;
    background: #fff;
    justify-content: center;
    text-transform: uppercase;
    grid-column-start: 7;
    grid-row-start: 5;
    align-items: center;
    border-radius: 10px;
    /* box-shadow: 10px 0 25px 0 rgba(0, 0, 0, 0.164); */
    box-shadow: 10px 0 25px 0 rgba(0, 0, 0, 0.11);
}
.edt .tquatre{
    padding: 10%;
    display: flex;
    /* background:  var(--blackkely); */
    background: rgba(206, 206, 206, 0.849);
    justify-content: center;
    grid-column-start: 1;
    grid-row-start: 6;
    align-items: center;
    border-radius: 10px;
    /* box-shadow: 10px 0 25px 0 rgba(0, 0, 0, 0.164); */
    box-shadow: 10px 0 25px 0 rgba(0, 0, 0, 0.11);
}
.edt .tcinq{
    display: flex;
    background: #fff;
    justify-content: center;
    text-transform: uppercase;
    grid-column-start: 2;
    grid-row-start: 6;
    align-items: center;
    border-radius: 10px;
    /* box-shadow: 10px 0 25px 0 rgba(0, 0, 0, 0.164); */
    box-shadow: 10px 0 25px 0 rgba(0, 0, 0, 0.11);
}

.edt .tsix{
    display: flex;
    background: #fff;
    justify-content: center;
    text-transform: uppercase;
    grid-column-start: 3;
    grid-row-start: 6;
    align-items: center;
    border-radius: 10px;
    /* box-shadow: 10px 0 25px 0 rgba(0, 0, 0, 0.164); */
    box-shadow: 10px 0 25px 0 rgba(0, 0, 0, 0.11);
}

.edt .tsept{
    display: flex;
    background: #fff;
    justify-content: center;
    text-transform: uppercase;
    grid-column-start: 4;
    grid-row-start: 6;
    align-items: center;
    border-radius: 10px;
    /* box-shadow: 10px 0 25px 0 rgba(0, 0, 0, 0.164); */
    box-shadow: 10px 0 25px 0 rgba(0, 0, 0, 0.11);
}

.edt .thuit{
    display: flex;
    background: #fff;
    justify-content: center;
    text-transform: uppercase;
    grid-column-start: 5;
    grid-row-start: 6;
    align-items: center;
    border-radius: 10px;
    /* box-shadow: 10px 0 25px 0 rgba(0, 0, 0, 0.164); */
    box-shadow: 10px 0 25px 0 rgba(0, 0, 0, 0.11);
}

.edt .tneuf{
    display: flex;
    background: #fff;
    justify-content: center;
    text-transform: uppercase;
    grid-column-start: 6;
    grid-row-start: 6;
    align-items: center;
    border-radius: 10px;
    /* box-shadow: 10px 0 25px 0 rgba(0, 0, 0, 0.164); */
    box-shadow: 10px 0 25px 0 rgba(0, 0, 0, 0.11);
}
.edt .samedi6{
    display: flex;
    background: #fff;
    justify-content: center;text-transform: uppercase;
    grid-column-start: 7;
    grid-row-start: 6;
    align-items: center;
    border-radius: 10px;
    /* box-shadow: 10px 0 25px 0 rgba(0, 0, 0, 0.164); */
    box-shadow: 10px 0 25px 0 rgba(0, 0, 0, 0.11);
}
/* @media screen and (max-width : 1400px){
    .box1 .edt .grid {
       width: 1230px;
    }
} */

@media (max-width: 1023px) {
    .EDT .antsa .boxviolet {
      grid-template-columns: repeat(1, 1fr);
      margin-bottom: 10px;
    }
    .EDT .antsa .boxviolet .date{
        display: flex;
        justify-content: space-between;
        padding: 15px;
        margin-bottom: 0;
    }
    .EDT .ParentTableau .ListRecuTete{
        flex-direction: column;
        /* align-items: auto 0 !important; */
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 200px;
      }
      
      .EDT .ParentTableau .ListRecuTete form{
        width: 60%;
      }

  }

  @media  screen and (max-width : 767px) {
    .EDT .ParentTableau .ListRecuTete form{
        width: 100%;
      }
  }
 