

    
    .notif {
      width: 95%;
      padding: 20px;
      margin: 20px auto;
      box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
      border-radius: 25px; 
      overflow: hidden; 
      background: #fff;
      padding-bottom: 40px;
      margin-top: 100px;
      display: none;
    }
   
   
    .notif .a{
      display: flex;
      justify-content: space-between;
      align-items: center;
      /* justify-content: center; */
    }
    .notif .a .imgNom{
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    
    .ann-rec,.ann-etc,.ann-anc{
      padding: 20px;
      margin: 10px auto;
      width: 100%;
      box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
      border-radius: 25px; 
      overflow: hidden; 
      background: #fff;
    }
  
    .notif .a .img {
      /* width:150px; */
      font-size: 7rem;
      /* height: 120px; */
      color: #380066;
      object-fit: cover;
    }
    
    .notif h2 {
      margin-left: 20px;
      font-size: 40px;
      color: var(--violet);
      text-transform: none;
    }
    
    
    .notif p {
      font-size: 1rem;
      line-height: 1.5;
      margin: 20px 0;
      text-align: justify;
      font-family: sans-serif;
    }
    
    
    .notif .a form{
      display: flex;
      align-items: center;
      justify-content: end;
      width: 35%;

    }
    .notif .a input{
      padding: 5px 10px;
      font-size: 1rem;
      border: none;
      color: var(--blackbe);
      background-color: transparent;
   }
  
   .notif .a input[type="submit"]{
    cursor: pointer;
    background: var(--violet);
    border-radius: 10px;
    color: var(--white);
    margin-left: 15px ;
   }
   .notif .a input[type="submit"]:hover{
    background: var(--rose);
    transition: .2s;
   }
   .notif .a input[type="date"]{
    width: 70%;
    border-radius: 10px;
    border: solid 1px var(--blackkely);
   }
   .notif .a input[type="date"]:focus{
    color: var(--violet);
  }
  

  
   
  
   
  
   strong{
    color: #5f0085;
   }
  
   /*RESPONSIVITE*/
  
   /*RESPONSIVE iPAD Air*/
  @media screen and (max-width:820px){
    .notif .a{
      flex-direction: column; 
      justify-content: center;
      align-items: center;
      /* height: 230px; */
    }
    .notif .a .imgNom{
      margin-bottom: 20px;
    }
    .notif .a form{
      width: 100%;
      align-items: center;
      justify-content: center;
      padding-bottom: 50px ;
    }
    .notif h2{
      margin-top: 2rem;
      margin-left: 10px;
      font-size: 35px;
    }
  
    .notif img {
      width:100px;
      height: 120px;
    }
  
    .notif p{
      font-size: 1rem;
    }
  
    .notif .a input{
      height: 40px;
      width: 15%;
      font-size: 1rem;
     }
  
     
     .notif .a input[type="submit"]{
      width: 120px;
     }
  .notif .a input[type="date"]{
      width: 40%;
     }
  
   }
   @media screen and (max-width : 560px) {
    .notif .a .imgNom .navIcon.img{
      font-size: 5rem;
    }
    .notif .a input[type="date"]{
      width: 60%;
     }
  
    
    
   }
  
  

  

  
  