<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Pupil.Finder</title>

  <!-- All -->
  <link rel="stylesheet" href="/public/css/allstyle.css" />
  <link rel="stylesheet" href="/public/css/Burger.css">
  <link rel="stylesheet" href="/public/css/style_acceuil.css" />
  <link rel="shortcut icon" href="/public/imgs/ICON-01.svg" type="image/x-icon" />



  <link rel="stylesheet" href="/public/css/admin/adminAbsence.css" />


  <style>
    .prespre{
     background-color: red;
     border-radius: 8px;
     padding: 8px 16px;
    }
    .abspa{
     background-color:green;
     border-radius: 8px;
     padding: 8px 16px;
    }
     
    .profp{
     color:white;
    }
    .profa{
     color:white;
    }
 
    .Absence .hiddenTab form input {
    padding: 5px 10px;
    font-size: 1rem;
    border: none;
    color: var(--blackbe);
    background-color: transparent;
   }
 
    .Absence .hiddenTab form input[type="submit"] {
    cursor: pointer;
    background: var(--violet);
    border-radius: 10px;
    color: var(--white);
    margin-left: 15px;
    margin-top: 10px;
    }
 
    .Absence .hiddenTab form input[type="submit"]:hover {
     background: var(--rose);
     transition: 0.2s;
    }
    .Absence .hiddenTab form input[type="date"]:focus {
    color: var(--violet);
    }
   </style>
 

  <!-- FontAwesome -->
  <link rel="stylesheet" href="/public/assets/FontAwesome/css/all.min.css" />
</head>

<body>
  <div class="parentMax">
    <!-- Nav Barre Vertical -->
    <div id="navVertical" class="navigation-Vertical">
      <ul>
        <li>
          <button>
            <span class="icon">
              <i class="fas fa-school sizeIcon"></i>
            </span>
            <p class="titre">ISPM Plateforme</p>
          </button>
        </li>


        <li>
          <form action="/admin/gerer">
            <button type="submit" id="Profil">
              <span class="icon">
                <i class="fas fa-cogs sizeIcon"></i>
              </span>
              <p class="titre">Gerer</p>
            </button>
          </form>
        </li>

        <li>
          <form action="/admin/annonce">
            <button type="submit" id="Annonce">
              <span class="icon">
                <i class="fas fa-bullhorn sizeIcon"></i>
              </span>
              <p class="titre">Annonces</p>
            </button>
          </form>

        </li>

        <li>
          <form action="/admin/edt">
            <button id="Edt" type="submit">
              <span class="icon">
                <i class="far fa-calendar sizeIcon"></i>
              </span>
              <p class="titre">Emploi du temps</p>
            </button>
          </form>

        </li>

        <li>
          <form action="/admin/absence">
            <button type="submit" id="Absence">
              <span class="icon">
                <i class="fas fa-hourglass-end sizeIcon"></i>
              </span>
              <p class="titre">Absence</p>
            </button>
          </form>

        </li>

        <li>
          <form action="/admin/apayer">
            <button type="submit" id="Payer">
              <span class="icon">
                <i class="far fa-credit-card sizeIcon"></i>
              </span>
              <p class="titre">A Payer</p>
            </button>
          </form>

        </li>

        <li>
          <form action="/admin/note">
            <button type="submit" id="Note">
              <span class="icon">
                <i class="far fa-file-alt sizeIcon"></i>
              </span>
              <p class="titre">Notes</p>
            </button>
          </form>

        </li>

        <li>
          <form action="/admin/calendrier">
            <button type="submit" id="Agenda">
              <span class="icon">
                <i class="far fa-calendar-alt sizeIcon"></i>
              </span>
              <p class="titre">Calendrier Scolaire</p>
            </button>
          </form>

        </li>

        <li>
          <!-- SE deconnecter -->
          <form action="/admin/deconnexion" method="post">
            <button id="Logout" type="submit">
              <span class="icon">
                <i class="fas fa-sign-out-alt sizeIcon"></i>
              </span>
              <p class="titre">Se Deconnecter</p>
            </button>
          </form>
        </li>
      </ul>
    </div>
    <div class="topbarMax">
      <div class="topbar">
        <div class="toggle">
          <i class="fas fa-bars Toggle1"></i>
          <i class="fas fa-xmark Toggle2"></i>
        </div>

        <div class="navHorizontal">
          <div>
            <form action="/admin">
              <button type="submit" class="btnNavH home" id="versHome">
                <i class="fas fa-home navIcon"></i>
              </button>
            </form>

          </div>

          <div class="user">
            <i class="far fa-user-circle"></i>
          </div>
        </div>
      </div>
    </div>

    <div class="main">

      <!-- ATO Micode ANATIN'I PPggAbsence -->
      <div id="PPggAbsence" class="Apayer Absence">


        <div class="ParentTableau noteParent" style="flex-direction: column; align-items: center;">
          <div class="ListRecu">
            <div class="ListRecuTete" style="display: flex; justify-content: space-between;">
              <h2>Absence</h2>
              <form action="/admin/absence/getUserInClass" method="post"  style="width: 30%; display: flex; justify-content: space-evenly; ">
                <!-- matiere -->
                <select name="classeChoisi" id="selectClasse" style="border: solid 1px rgba(0, 0, 0, 0.486); border-radius: 10px; width: 65%; ">
                  
                </select>
                <input type="submit" value="Recherche" />
              </form>
            </div>

            <div class="hiddenTab">
              <form action="" style="margin-top: 20px;">
                <span style="font-size: 1.1rem; margin-left: 5px; margin-bottom: 10px; color: var(--violet);">Matiere :</span> <br>
                <select name="" id="FormDateNote" style="border: solid 1px rgba(0, 0, 0, 0.486); border-radius: 10px; width: 20%; padding: 6px 12px; margin-bottom: 20px;">
                  
                </select>
                <table>
                  <thead>
                    <tr>
                      <td>Nom élève</td>
                      <td style="display: flex; justify-content: center;">Presence</td>
                      
                    </tr>
                  </thead>
  
                  
                    <tbody>
                      <% if (data.dataInClassChoisi !== 0 ) { %>
                        <% for (var i = 0; i < data.dataInClassChoisi.length ; i++ ){ %>
                        <tr>
                          <td><%= data.dataInClassChoisi[i].nom %> <%= data.dataInClassChoisi[i].prenom %></td>
                          <td style="display: flex; ">
                            <div  style="display: flex; width: 100%; justify-content: center;">
                              <div style="display: flex;  width: 70%; justify-content: space-evenly;">
                                <div class="prespre">
                                  <label class="profp">Absent</label> 
                                  <input type="radio" checked  name="presence" value="absent">
                                </div>
                                <div class="abspa">
                                  <label class="profa">Present</label> 
                                  <input type="radio" name="presence" value="present">
                                </div>
                                <div class="abspa" style="background: rgb(233, 233, 1);">
                                  <label class="profa" >Retard</label> 
                                  <input type="radio" name="presence" value="present">
                                </div>
                              </div>
                            </div>
                          </td>
                          
                        </tr>
                        <% } %>
                      <% } else { %>
                        <tr>
                          <td>Néant</td>
                          
                        </tr>
                      <% } %>
                    </tbody>
                   
                
                </table>
                <input type="submit">
              </form>
            </div>
          </div>

          
        </div>
      </div>



    </div>
  </div>

  <!-- =========== Scripts =========  -->
  <script src="/public/js/scriptDflt.js"></script>

  <script src="/public/assets/FontAwesome/js/all.min.js"></script>
  <script>
    const selectClasse = document.getElementById('selectClasse');
    const FormDateNote = document.getElementById('FormDateNote');

     fetch("/admin/absence/getClasseDispo") 
       .then((res) => res.json())
       .then((data) => {
       const classe = Object.values(data);
       
  
       for (var i = 0; i < classe.length ; i++){
         var option = document.createElement("option");

         option.value = classe[i].nomClasse;
         option.textContent = classe[i].nomClasse;

         selectClasse.appendChild(option);
       }

     });

     fetch("/admin/absence/getMatiereDispo")
       .then((res) => res.json())
       .then((data) => {
       
       
        const Matiere = Object.values(data);
       
  
       for (var i = 0; i < Matiere.length ; i++){
         var option = document.createElement("option");

         option.value = Matiere[i].nomMatiere;
         option.textContent = Matiere[i].nomMatiere;

         FormDateNote.appendChild(option);
       }

     });
 </script>
</body>

</html>