<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pupil.Finder</title>

    <!-- All -->
    <link rel="stylesheet" href="/public/css/allstyle.css" />
    <link rel="stylesheet" href="/public/css/Burger.css">
    <link rel="stylesheet" href="/public/css/style_acceuil.css" />

    <link rel="shortcut icon" href="/public/imgs/ICON-01.svg" type="image/x-icon" />

    <link rel="stylesheet" href="/public/css/annonce.css" />
    <link rel="stylesheet" href="/public/css/admin/adminAnnonce.css">

   
    <!-- FontAwesome -->
    <link rel="stylesheet" href="/public/assets/FontAwesome/css/all.min.css" />
    <style>
      .btn:hover{
        cursor: pointer !important;
      }
    </style>
  </head>
 
  <body>
    <div class="parentMax">
      <!-- Nav Barre Vertical -->
      <div id="navVertical" class="navigation-Vertical">
        <ul>
          <li>
            <button>
              <span class="icon">
                <i class="fas fa-school sizeIcon"></i>
              </span>
              <p class="titre">ISPM Plateforme</p>
            </button>
          </li>

          <li>
            <form action="/admin/gerer">
              <button type="submit" id="Profil">
                <span class="icon">
                  <i class="fas fa-cogs sizeIcon"></i>
                </span>
                <p class="titre">Gerer</p>
              </button>
            </form>
          </li>

          <li>
            <form action="/admin/annonce">
              <button type="submit" id="Annonce">
                <span class="icon">
                  <i class="fas fa-bullhorn sizeIcon"></i>
                </span>
                <p class="titre">Annonces</p>
              </button>
            </form>
            
          </li>

          <li>
            <form action="/admin/edt">
              <button id="Edt" type="submit">
                <span class="icon">
                  <i class="far fa-calendar sizeIcon"></i>
                </span>
                <p class="titre">Emploi du temps</p>
              </button>
            </form>
            
          </li>

          <li>
            <form action="/admin/absence">
              <button type="submit" id="Absence">
                <span class="icon">
                  <i class="fas fa-hourglass-end sizeIcon"></i>
                </span>
                <p class="titre">Absence</p>
              </button>
            </form>
            
          </li>

          <li>
            <form action="/admin/apayer">
              <button type="submit" id="Payer">
                <span class="icon">
                  <i class="far fa-credit-card sizeIcon"></i>
                </span>
                <p class="titre">A Payer</p>
              </button>
            </form>
            
          </li>

          <li>
            <form action="/admin/note">
              <button type="submit" id="Note">
                <span class="icon">
                  <i class="far fa-file-alt sizeIcon"></i>
                </span>
                <p class="titre">Notes</p>
              </button>
            </form>
            
          </li>

          <li>
            <form action="/admin/calendrier">
              <button type="submit" id="Agenda">
                <span class="icon">
                  <i class="far fa-calendar-alt sizeIcon"></i>
                </span>
                <p class="titre">Calendrier Scolaire</p>
              </button>
            </form>
            
          </li>
          <li>
            <!-- SE deconnecter -->
            <form action="/admin/deconnexion" method="post">
              <button id="Logout" type="submit">
                <span class="icon">
                  <i class="fas fa-sign-out-alt sizeIcon"></i>
                </span>
                <p class="titre">Se Deconnecter</p>
              </button>
            </form>
          </li>
        </ul>
      </div>
      <div class="topbarMax">
        <div class="topbar">
          <div class="toggle">
            <i class="fas fa-bars Toggle1"></i>
            <i class="fas fa-xmark Toggle2"></i>
          </div>

          <div class="navHorizontal">
            <div>
              <form action="/admin">
                <button type="submit" class="btnNavH home" id="versHome">
                  <i class="fas fa-home navIcon"></i>
                </button>
              </form>
              
            </div>

            <div class="user">
              <i class="far fa-user-circle"></i>
            </div>
          </div>
        </div>
      </div>
      <!-- CONTENU -->
      <div class="main">

        <!-- ATO ANATIN'I PgAnnonce ATo Micode -->
    
        <div id="PgAnnonce" class="notif annonce">
          <div class="a">
            <div class="imgNom">
              <h2>Annonces</h2>
            </div>
            <!-- INPUT ADMIN -->
            <form action="">
              <input type="date">
              <input type="submit" value="Rechercher">
            </form>   
          </div>
          
          <div class="w3-container" id="">

            <form action="/admin/annonce/add-annonce" method="post">
              <p><textarea name="annonceContent" id="" cols="10" rows="5" class="w3-input w3-padding-16 w3-border"placeholder="Commencez à écrire..." ></textarea></p>

              <p><button class="www" type="submit">Envoyer</button></p>
            </form>
          </div>
          
          <!-- afaka anaovana recherche dashboard -->
          <!--annonce 1 plus récent, 2 hier ohatra de lay 3 farany plus ancien fa miandry javascript anaovana azy-->
          <% for (var i = data.allAnnonce.length - 1 ; i >= 0 ; i-- ){ %>
          <div class="ann-rec">
            <div class="div1">
              <legend><strong ><%= data.dateAllAnnonce[i] %></strong></legend>
              <div>
                <form action="" method="post" class="formEditAnnonce btn" >
              
                  <button type="submit" class="btn"><i class="far fa-edit"></i></button>
                </form>
                
                <form action="/admin/annonce/delete-on-annonce" method="post" class="formDeleteAnnonce btn" >
                  <span hidden class="listAnnonce"><%= data.allAnnonce[i]._id %></span>
                  <button type="submit" class="btn" ><i class="far fa-trash-alt"></i></button>
                </form>
                
              </div>
            </div>
            <pre> <%= data.allAnnonce[i].contenu %> </pre>
            
          </div>
          <% } %>
        </div>
       
        

      </div>
    </div>

    

    <!-- =========== Scripts =========  -->
    <script src="/public/js/scriptDflt.js"></script>

    <script src="/public/assets/FontAwesome/js/all.min.js"></script>
    <!-- <script>
      fetch("/admin/annonce/getAllAnnonce")
        .then((res) => res.json())
        .then((data) => {
          const Data = Object.values(data);
          var date = [];
          for (var i = 0 ; i < Data.length ; i++ ){
            var tmp = Data[i].datePub;
             date.push(tmp.split("T")[0]);

             
            // var separate = tmp.split("T");
            // date.push(separate[O])
            // console.log(date);
          }
        })
    </script> -->
    <script>
      // CRUD Annonce
      const AllAnnonceDispo = document.querySelectorAll(".listAnnonce");
        const AllFormDeleteAnnonce = document.querySelectorAll(".formDeleteAnnonce");
        const AllFormEditAnnonce = document.querySelectorAll(".formEditAnnonce");

        for ( var i = 0; i < AllAnnonceDispo.length ; i++ ) {
          var inputIdentifiant = document.createElement("input");
          
          inputIdentifiant.name = "annonceDelete";
          inputIdentifiant.value = AllAnnonceDispo[i].textContent;
          inputIdentifiant.type = "text";
          inputIdentifiant.className = "hidden";
          
          // Parent
          AllFormEditAnnonce[i].appendChild(inputIdentifiant);
          AllFormDeleteAnnonce[i].appendChild(inputIdentifiant);
        }
    </script>
    
  </body>
</html>
