<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pupil.Finder</title>

    <!-- All -->
    <link rel="stylesheet" href="/public/css/allstyle.css" />
    <link rel="stylesheet" href="/public/css/Burger.css">
    <link rel="stylesheet" href="/public/css/style_acceuil.css" />

    <link rel="shortcut icon" href="/public/imgs/ICON-01.svg" type="image/x-icon" />
    <link rel="stylesheet" href="/public/css/note.css" />

   

    <!-- FontAwesome -->
    <link rel="stylesheet" href="/public/assets/FontAwesome/css/all.min.css" />
    <style>
      .btnSub{
        width: 12%;
        background-color: var(--violet);
        color: white;
        padding: 6px 12px;
        border-radius: 8px;
      }
      .btnSub:hover{
        background-color: var(--rose);
        cursor: pointer;
        transition: .3s;
      }
    </style>
  </head>

  <body>
    <div class="parentMax">
      <!-- Nav Barre Vertical -->
      <div id="navVertical" class="navigation-Vertical">
        <ul>
          <li>
            <button>
              <span class="icon">
                <i class="fas fa-school sizeIcon"></i>
              </span>
              <p class="titre">ISPM Plateforme</p>
            </button>
          </li>

          

          <li>
            <form action="/admin/absence">
              <button type="submit" id="Absence">
                <span class="icon">
                  <i class="fas fa-hourglass-end sizeIcon"></i>
                </span>
                <p class="titre">Absence</p>
              </button>
            </form>
            
          </li>


          <li>
            <form action="/admin/note">
              <button type="submit" id="Note">
                <span class="icon">
                  <i class="far fa-file-alt sizeIcon"></i>
                </span>
                <p class="titre">Notes</p>
              </button>
            </form>
            
          </li>

         
          
          <li>
            <!-- SE deconnecter -->
            <form action="/admin/deconnexion" method="post">
              <button id="Logout" type="submit">
                <span class="icon">
                  <i class="fas fa-sign-out-alt sizeIcon"></i>
                </span>
                <p class="titre">Se Deconnecter</p>
              </button>
            </form>
          </li>
        </ul>
      </div>
      <div class="topbarMax">
        <div class="topbar">
          <div class="toggle">
            <i class="fas fa-bars Toggle1"></i>
            <i class="fas fa-xmark Toggle2"></i>
          </div>

          <div class="navHorizontal">
            <div>
              <form action="/admin">
                <button type="submit" class="btnNavH home" id="versHome">
                  <i class="fas fa-home navIcon"></i>
                </button>
              </form>
              
            </div>

            <div class="user">
              <i class="far fa-user-circle"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="main">


        <!-- ATo amin'i PgNote ato micode -->
        <div id="PgNote" class="Apayer note">
          <div class="ParentTableau noteParent">
            <div class="ListRecu">
              
              <div class="ListRecuTete">
                <h2>Fiche de notes</h2>
                <form action="/prof/note/findClass" method="post"  id="" style=" width: 55% ; display: flex; justify-content: space-evenly;">
                  
                  <div class="nomerao" style="width: 30%;">
                    <select name="classeNote" id="selectClasse" style="padding: 6px 8px; border-radius: 8px; border: solid 1px rgba(0, 0, 0, 0.534); width: 100%;">
                      <!-- <option value="" selected>Classe</option> -->
                      
                    </select>
                  </div>
                  <div class="kilasy" style="width: 30%;">
                    <select name="" id="selectNumInClasse" style="padding: 6px 8px; border-radius: 8px; border: solid 1px rgba(0, 0, 0, 0.534); width: 100%;">
                      <!-- <option value="" selected>Numéro</option> -->
                      <option value="" >01</option>
                      
                    </select>
                  </div>


                  <input type="submit" class="btnSub" value="Valider"  />
                </form>
              </div>

              <div class="hiddenTab">
                <table>
                  <thead>
                    <tr>
                      <td>Matières</td>
                      <td>Coefficient</td>
                      <td>Notes</td>
                     
                    </tr>
                  </thead>

                  <tbody>
                    <form action="" id="FormDateNote">
                      <input type="text" name="trimestre" placeholder="Trimestre.." style="padding: 6px 12px; border: solid 1px rgba(0, 0, 0, 0.534); border-radius: 8px;">
                    
                      <td id="nomMatiereEE"></td>
                      <td id="coeffMatiereEE">3</td>
                      <td><input type="text" placeholder="note"></td>

                    <input type="submit" class="btnSub" value="Valider" style="margin-left: 20px;">
                  </form>
                  </tbody>
                </table>
              </div>
            
            </div>
          </div>
        </div>
        
      </div>
    </div>

    <!-- =========== Scripts =========  -->
    
    <script src="/public/js/scriptDflt.js"></script>

    <script src="/public/assets/FontAwesome/js/all.min.js"></script>
    <script>
      const selectClasse = document.getElementById('selectClasse');
      const selectNumero = document.getElementById('selectNumInClasse');
      const nomMatiereEE = document.getElementById('nomMatiereEE');
      const coeffMatiereEE = document.getElementById('coeffMatiereEE');
      
      fetch("/prof/note/getFonctionProf")
         .then((res) => res.json())
         .then((data) => {
         
          nomMatiereEE.textContent = data.fonction;
       });

       fetch("/prof/note/getClasseDispo")
         .then((res) => res.json())
         .then((data) => {
         const classe = Object.values(data);
         
    
         for (var i = 0; i < classe.length ; i++){
           var option = document.createElement("option");
 
           option.value = classe[i]._id;
           option.textContent = classe[i].nomClasse;
 
           selectClasse.appendChild(option);
         }
         
         console.log(classe)
       });
       
 
       
   </script>
  </body>
</html>
